/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 23 version
*/

@media(max-width:1200px){
    header{
        width: 90%;
    }
}
@media(max-width:1145px){
     section{
        width: 100%;
     }
}
@media(max-width:768px){
     section{
        width: 100%;
     }
}